/* Coolors Exported Palette - coolors.co/1e1e24-324a5f-a82b1d-fffaff-2b303a */

/* HSL */
$color1: hsla(240%, 9%, 13%, 1);
$color2: hsla(208%, 31%, 28%, 1);
$color3: hsla(6%, 71%, 39%, 1);
$color4: hsla(300%, 100%, 99%, 1);
$color5: hsla(220%, 15%, 20%, 1);

/* RGB */
$color1: rgba(30, 30, 36, 1);
$color2: rgba(50, 74, 95, 1);
$color3: rgba(168, 43, 29, 1);
$color4: rgba(255, 250, 255, 1);
$color5: rgba(43, 48, 58, 1);