html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  font-family: 'Open Sans', 'Tahoma', 'Verdana', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.25rem
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background: rgba(168, 43, 29, 1);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(168, 43, 29, 1);
  font-size: 15px;
  font-weight: 600;
}

#nav-bar {
  width: 50vh;
  background-color: rgba(168, 43, 29, 1);
  float: right;
}

#nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

#nav-bar ul li {
  text-align: center;
  padding-right: 70px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 21px;
  color: white;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(30, 30, 36, 1);
  color: rgba(255, 250, 255, 1);
  font-size: 35px;
}

/* projetos apartir daqui */

#projects {
  text-align: center;
  padding: 8.25rem 2rem;
  padding-top: 50px;
  background-color: rgba(255, 250, 255, 1);
  color: rgba(30, 30, 36, 1);
}

.projects-title-header {
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 80px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-image {
  height: 200px;
  width: 63%;
  object-fit: cover;
}

.project-title {
  font-size: 22.5px;
  font-weight: 525;
}

a.profile-tile {
  text-decoration: none;
  color: rgba(30, 30, 36, 1);
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(30, 30, 36, 1);
  color: rgba(240, 233, 237, 1);
}

.contact-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.12rem solid white;
  font-size: 4.2rem;
}

#profile-link {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 14em;
}

.icon {
  margin-right: 50px;
}

a.icon {
  text-decoration: none;
  font-size: 20px;
}

.fab {
   color:rgb(240, 233, 233);
   font-size: 100px;
}

.subtitle {
  color:rgb(240, 233, 233);
  text-align: center;
}
