html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  font-family: 'Open Sans', 'Tahoma', 'Verdana', sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(166, 52, 70, 1);
  font-size: 15px;
  font-weight: 600;
}

#nav-bar {
  width: 50vh;
  background-color: rgba(166, 52, 70, 1);
  float: right;
}

#nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#nav-bar ul li {
  width: 27.5%;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 21;
  color: rgb(240, 233, 233);
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(13, 27, 30, 1);
  color: rgba(240, 233, 237, 1);
  font-size: 35px;
}

#projects {
  text-align: center;
  padding: 5rem 2rem;
  background-color: rgba(58, 80, 107, 1);
}

.projects-tile-header {
  max-width: 770px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.12rem solid white;
  font-size: 3.1rem;
  color: white;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-image {
  height: 200;
  width: 100%;
  object-fit: cover;
}

a.profile-tile {
  text-decoration: none;
}

.project-title {
  color: black;
  font-size: 25px;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(13, 27, 30, 1);
  color: rgba(240, 233, 237, 1);
}

.contact-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.12rem solid white;
  font-size: 4.2rem;
}

#profile-link {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 14em;
}

.icone {
  margin-right: 50px;
}

a.icone {
  text-decoration: none;
  font-size: 20px;
}

.fab {
   color:rgb(240, 233, 233);
   font-size: 100px;
}

.subtitle {
  color:rgb(240, 233, 233);
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .project-image {
    height: 200;
    width: 53%;
    object-fit: cover;
  }
}